<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox">
		<div class="footer-row">
			<div class="footer-col">
				<div class="footer-title"><h4>оставьте заявку прямо сейчас</h4></div>
				<form action="\" class="footer-form">
					<div class="form-field"><input type="text" class="el-input el_input" name="name" placeholder="Введите имя" required="required"></div>
					<div class="form-field"><textarea name="comment" class="el-textarea el_textarea" rows="1" placeholder="Оставьте коментарий"></textarea></div>
					<div class="form-field"><input type="text" class="el-input el_input" name="phone" placeholder="Номер телефона" required="required"></div>
					<div class="form-field"><button type="submit" class="submit">Записатся на консультацию</button></div>					
				</form>
			</div>
			<div class="footer-col">
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				<div class="menu">
					<ul>
						<li><a href="#" class="active">Консультации</a></li>
						<li><a href="#">Для нового бизнеса</a></li>
						<li><a href="#">Аутсорсинг</a></li>
						<li><a href="#">Продукты и решения</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-row">
			<p>Copyright ©2017.  SHEEP.FISH STUDIO. Все права защищены.</p>
		</div>
	</div>
</footer>
<!-- /FOOTER -->
