<!-- HEADER -->
<header class="header color-green">
	<div class="mbox">
		<div class="header-content">
			<div class="logo">
				<a href="index.html" class="logo-gr"><img src="images/logo-gr.png" alt=""></a>
				<a href="index.html" class="logo-yel"><img src="images/logo-yel.png" alt=""></a>
				<a href="index.html" class="logo-blue"><img src="images/logo-blue.png" alt=""></a>
				<a href="index.html" class="logo-red"><img src="images/logo-red.png" alt=""></a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="#" class="active">Консультации</a></li>
					<li><a href="#">Для нового бизнеса</a></li>
					<li><a href="#">Аутсорсинг</a></li>
					<li><a href="#">Продукты и решения</a></li>
				</ul>
			</div>
			<a href="tel:88007074177" class="tel"><span><img src="images/tel.png" alt=""></span> 8 (800) <b>707-41-77</b></a>
			<a href="#" class="burger"><span></span></a>
		</div>
	</div>
</header>
<!-- /HEADER -->

