<div class="portfolio setion-animate">
  <div class="mbox">
    <div class="board border-color">
      <div class="board-inner">
        <div class="board-left animate-it">
          <p>Подтверждением</p>
        </div>
        <div class="board-right animate-it">
          <div class="circle-arrow"></div>
          <div class="board-tooltip">
            <p>у каждого из них можно вживую спросить о результатах нашей работы</p>
          </div>
        </div>
        <div class="board-bottom animate-it">
          <p>нашей работы являются много компаний и брендов</p>
        </div>
      </div>
    </div>
    <ul class="projects-list">
      <li>
        <div class="project-pic">
          <img src="images/portfolio01.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-terpro.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio02.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-rbc.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio03.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/project-logo.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio04.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-cluev.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio05.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-ibecom.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio06.jpg" alt="">
        </div>
        <div class="project-logo logo-top">
          <img src="images/logo-lackycats.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio07.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-adwise.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio08.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-cheese.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio09.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-savemytrip.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio10.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-impex.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio11.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-komtrans.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
      <li>
        <div class="project-pic">
          <img src="images/portfolio12.jpg" alt="">
        </div>
        <div class="project-logo">
          <img src="images/logo-mailru.png" alt="logo">
        </div>
        <a href="#" target="_blank">ПОСМОТРЕТЬ ПРОЕКТ</a>
      </li>
    </ul>
  </div>
</div>