<div class="spheres setion-animate">
  <div class="spheres-wrap">
    <h2 class="animate-it">Мы консультируем
    <br><span style="font-size:48px;">сферы:</span></h2>
    <ul class="spheres-list">
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/growth-icon.png" alt="">
          </div>
          <figcaption>ІТ проекты</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/creativity-icon.png" alt="">
          </div>
          <figcaption>Старт-апы</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/building-icon.png" alt="">
          </div>
          <figcaption>Фабрики
          <br> и заводы</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/newspaper-icon.png" alt="">
          </div>
          <figcaption>Новостные порталы</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/translator-icon.png" alt="">
          </div>
          <figcaption>Розничные продажи</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/handshake-icon.png" alt="">
          </div>
          <figcaption>Оптовые продажи</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="sphere-pic">
            <img src="images/strength-icon.png" alt="">
          </div>
          <figcaption>Другое</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>