<section class="wrap-main-slider green">
	<div class="mbox">
		<div class="slider-text">
			<a href="#">
				<p>От IT представителей</p>
				<img src="images/logo1.png" alt="">
			</a>
		</div>
	</div>
	<div class="additional-wrap">
		<a href="#" class="prev">
			<span class="arr"></span>
			<p>услуги</p>
		</a>
		<div class="main-slider">
			<div class="slide" data-color="green">
				<div class="colorfull-slide">
					<div class="small-bg"><img src="images/consult-bg.jpg" alt=""></div>
					<div class="slide-row">
						<h2>Полная </h2>
					</div>
					<div class="slide-row slide-desc">
						<span class="circle-arrow"></span>
						<p>с пошаговой инструкцией и планом, как и с кем работать дальше!</p>
					</div>
					<div class="slide-row">
						<h2>проработка вопроса</h2>
					</div>
					<div class="pic"><img src="images/consult-pic.png" alt=""></div>
				</div>
			</div>
			<div class="slide" data-color="red">
				<div class="colorfull-slide">
					<div class="small-bg"><img src="images/business-bg.jpg" alt=""></div>
					<div class="slide-row">
						<h2>Создание бизнеса, </h2>
					</div>
					<div class="slide-row slide-desc">
						<span class="circle-arrow"></span>
						<p>на этапе запуска и ДО МОМЕНТА ОКУПАЕМОСТИ ПРОЕКТА</p>
					</div>
					<div class="slide-row">
						<h2>оптимизация расходов</h2>
					</div>
				</div>
			</div>
			<div class="slide man" data-color="yellow">
				<div class="colorfull-slide">
					<div class="small-bg"><img src="images/outsource-bg.jpg" alt=""></div>
					<div class="slide-row">
						<h2>Front-end </h2>
					</div>
					<div class="slide-row slide-desc">
						<span class="circle-arrow"></span>
						<p>в аренду, с собственным менеджментом и тим-лидом. </p>
					</div>
					<div class="slide-row">
						<h2>Back-end, DBE, BA</h2>
					</div>
					<div class="pic"><img src="images/outsource-pic.png" alt=""></div>
				</div>
			</div>
			<div class="slide" data-color="blue">
				<div class="colorfull-slide">
					<div class="small-bg"><img src="images/prod-bg.jpg" alt=""></div>
					<div class="slide-row">
						<h2>Создание </h2>
					</div>
					<div class="slide-row slide-desc">
						<span class="circle-arrow"></span>
						<p>Оптимизация существующих и интеграция новейших технологий в работающие бизнесы и проекты</p>
					</div>
					<div class="slide-row">
						<h2>канала продаж “под ключ”</h2>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="next">
			<span class="arr"></span>
			<p>услуги</p>
		</a>
	</div>
	<div class="main-slider-bg">
		<div class="slide-bg"><img src="images/consult-bg.jpg" alt=""></div>
		<div class="slide-bg"><img src="images/business-bg.jpg" alt=""></div>
		<div class="slide-bg"><img src="images/outsource-bg.jpg" alt=""></div>
		<div class="slide-bg"><img src="images/prod-bg.jpg" alt=""></div>
	</div>
	<form action="\" class="main-form">
		<div class="form-field"><input type="text" class="el-input el_input" name="name" placeholder="Введите ваше имя" required="required"></div>
		<div class="form-field"><input type="text" class="el-input el_input" name="mail" placeholder="E-mail" required="required"></div>
		<div class="form-field"><input type="text" class="el-input el_input" name="phone" placeholder="Номер телефона" required="required"></div>
		<div class="form-field"><button type="submit" class="button">Отправить заявку</button></div>
	</form>
</section>